@import "tailwindcss";

body {
    @apply bg-gray-200 text-sm;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 2rem;
}

main > h1 {
    font-size: 2rem;
    font-weight: 600;
}

main > p {
    color: rgba(60, 60, 60, 0.29);
}

main > .container {
    margin-top: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    border: 1px dashed rgba(60, 60, 60, 0.29);
    border-radius: 0.4rem;
    padding: 1.6rem;
    width: 100%;
}

@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background-color: #1a1a1a;
    }

    main > .container {
        border: 2px dashed #4b4a4a;
    }

    main > p {
        color: #4b4a4a;
    }
}
